Names: Alex Sheardown

In [1]:
import pandas as pd

shark_data_unclean = pd.read_csv('Data/GSAF5.csv',encoding = "ISO-8859-1")

shark_data_unclean = shark_data_unclean.drop("Unnamed: 246" , 1)


for number in range(1, 300):
    try:
        shark_data_unclean = shark_data_unclean.drop("Unnamed: " + str(number) , axis=1)
    except:
        x = 0



shark_data_unclean.columns

E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [2]:
shark_data_unclean = shark_data_unclean.drop("pdf" , 1)
shark_data_unclean = shark_data_unclean.drop("href formula" , 1)
shark_data_unclean = shark_data_unclean.drop("href" , 1)
shark_data_unclean = shark_data_unclean.drop("Year" , 1)
shark_data_unclean = shark_data_unclean.drop("Investigator or Source" , 1)
shark_data_unclean = shark_data_unclean.drop("original order" , 1)
shark_data_unclean

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2
0,2021.09.10,10-Sep-2021,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,Mohamed,M,NaN,Laceration to arm caused by metal object,NaN,NaN,No shark invovlement,2021.09.10,2021.09.10
1,2021.09.09,09-Sep-2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,!6,Minor injury to right arm,N,13h20,NaN,2021.09.09,2021.09.09
2,2021.09.05,05-Sep-2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,31,FATAL,Y,10h30,White xhark,2021.09.05,2021.09.05
3,2021.09.03.b,03-Sep-2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,NaN,Wrist bitten,N,NaN,NaN,2021.09.03.b,2021.09.03.b
4,2021.08.28,28-Aug-2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN,2021.08.28,2021.08.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#shark_data_unclean = shark_data_unclean.dropna(how='all')
shark_data_unclean = shark_data_unclean.dropna(thresh=3)
shark_data_unclean = shark_data_unclean[shark_data_unclean['Type'].notna()]
#df.dropna(thresh=2)
shark_data_unclean

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2
1,2021.09.09,09-Sep-2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,!6,Minor injury to right arm,N,13h20,NaN,2021.09.09,2021.09.09
2,2021.09.05,05-Sep-2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,31,FATAL,Y,10h30,White xhark,2021.09.05,2021.09.05
3,2021.09.03.b,03-Sep-2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,NaN,Wrist bitten,N,NaN,NaN,2021.09.03.b,2021.09.03.b
4,2021.08.28,28-Aug-2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN,2021.08.28,2021.08.28
5,2021.09.03,03-Sep-2021,Unprovoked,USA,Louisiana,off Grand Isle,"Fishing, fell in water",male,M,64,Severe injury to leg,N,14h00,NaN,2021.09.03,2021.09.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,ND.0005,ND.0005
6696,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,ND.0004,ND.0004
6697,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,ND.0003,ND.0003
6698,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,ND.0002,ND.0002
6699,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,ND.0001,ND.0001

In [4]:
#shark_data_unclean["Case Number"] = shark_data_unclean["Case Number"]
shark_data_unclean['Proper_date'] = shark_data_unclean['Case Number'].str.replace(".", '')


shark_data_unclean

<ipython-input-4-4c3a0dd8ea76>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  shark_data_unclean['Proper_date'] = shark_data_unclean['Case Number'].str.replace(".", '')

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2,Proper_date
1,2021.09.09,09-Sep-2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,!6,Minor injury to right arm,N,13h20,NaN,2021.09.09,2021.09.09,20210909
2,2021.09.05,05-Sep-2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,31,FATAL,Y,10h30,White xhark,2021.09.05,2021.09.05,20210905
3,2021.09.03.b,03-Sep-2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,NaN,Wrist bitten,N,NaN,NaN,2021.09.03.b,2021.09.03.b,20210903b
4,2021.08.28,28-Aug-2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN,2021.08.28,2021.08.28,20210828
5,2021.09.03,03-Sep-2021,Unprovoked,USA,Louisiana,off Grand Isle,"Fishing, fell in water",male,M,64,Severe injury to leg,N,14h00,NaN,2021.09.03,2021.09.03,20210903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,ND.0005,ND.0005,ND0005
6696,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,ND.0004,ND.0004,ND0004
6697,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,ND.0003,ND.0003,ND0003
6698,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,ND.0002,ND.0002,ND0002
6699,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,ND.0001,ND.0001,ND0001

In [5]:
#shark_data_unclean['Case Number'].equals(shark_data_unclean['Case Number.1'])
shark_data_unclean['Case Number'].equals(shark_data_unclean['Case Number.2'])

comparison = shark_data_unclean.apply(lambda row: all(i in shark_data_unclean['Case Number'] for i in shark_data_unclean['Case Number.1']), axis=1)
comparison.value_counts()

False    6685
dtype: int64

In [6]:
comparison = shark_data_unclean.apply(lambda row: all(i in shark_data_unclean['Case Number'] for i in shark_data_unclean['Case Number.2']), axis=1)
comparison.value_counts()

False    6685
dtype: int64

In [7]:
shark_data_unclean = shark_data_unclean.drop("Case Number" , 1)
shark_data_unclean = shark_data_unclean.drop("Case Number.1" , 1)
shark_data_unclean = shark_data_unclean.drop("Case Number.2" , 1)

In [8]:
shark_data_unclean

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Proper_date
1,09-Sep-2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,!6,Minor injury to right arm,N,13h20,NaN,20210909
2,05-Sep-2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,31,FATAL,Y,10h30,White xhark,20210905
3,03-Sep-2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,NaN,Wrist bitten,N,NaN,NaN,20210903b
4,28-Aug-2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN,20210828
5,03-Sep-2021,Unprovoked,USA,Louisiana,off Grand Isle,"Fishing, fell in water",male,M,64,Severe injury to leg,N,14h00,NaN,20210903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,ND0005
6696,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,ND0004
6697,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,ND0003
6698,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,ND0002
6699,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,ND0001

In [10]:
shark_data_provoked = shark_data_unclean[shark_data_unclean["type"]  == 'provoked']

KeyError: 'type'